<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="up">
    <div class="images">
        <div class="secondaire">
        <img class="image" src="https://m.media-amazon.com/images/I/71Pf1CXeyvL._AC_SY450_.jpg" alt="image2">
        <img class="image" src="https://m.media-amazon.com/images/I/71RVjhyGc8L._AC_SY450_.jpg" alt="image3">
        <img class="image" src="https://m.media-amazon.com/images/I/615gxSGp42L._AC_SY450_.jpg" alt="image4">
        </div>
        <div class="principal">
            <img class="imagep" src="https://m.media-amazon.com/images/I/71ayGFDyV4L._AC_SY450_.jpg" alt="image1">
        </div>
        
        
    </div>
    <div class="upright" *ngIf="pro[0].nom!=undefined">
            <h1>  {{pro[0].marque}} {{pro[0].nom}} - {{pro[0].system.cpu.nom}} {{pro[0].system.cpu.marque}} - RAM {{pro[0].system.ram}} Go - Stockage SSD {{pro[0].system.hdd.capacite}} Go </h1>
        <div class="rating">
            <div class="rat">
                <p>(xx/5)  </p>
                <!-- <star-rating size="small"></star-rating> -->
            </div><p>
                {{pro[0].prix}} €
            </p>
            
            
        </div>
        <p>Processeur : {{pro[0].system.cpu.nom}} {{pro[0].system.cpu.marque}} <br>

            Taille installée : {{pro[0].system.ram}} Go <br>
            Stockage : hdd {{pro[0].system.hdd.capacite}} Go <br>
            
            Processeur graphique : {{pro[0].system.cg.marque}} {{pro[0].system.cg.modele}} <br>
            
            Interfaces : 1 x casque/microphone (1 à l'avant), 1 x microphone, 6 x USB 3.2 Gen 1 (2 à
            l'avant, 4 à l'arrière), 2 x USB 3.2 Gen 2, 1 x LAN (Gigabit Ethernet), 2 x HDMI, 1 x
            DisplayPort, 1 x sortie de ligne audio, 1 x entrée de ligne audio, 1 x clavier / souris PS/2, 1
            x VGA, 1 x DVI-D, 1 x DVI <br>
            
            Système d'exploitation fourni : Windows 10 Home <br>
            
            Couleur : Gris</p>
    </div>
</div>
<div class="bottom">
    <div class="comp">
    <h3>
        Les Composant:
    </h3>
        <div class="dropown">
            <button class="link">
            CPU : 
            </button>
            <div class="cpu-card">
                Nom:{{pro[0].system.cpu.nom}} <br>
                Marque: {{pro[0].system.cpu.marque}} <br>
                Core : {{pro[0].system.cpu.core}} <br>
                Frequence max : {{pro[0].system.cpu.frequence_max}} <br>
                Tdp : {{pro[0].system.cpu.tdp}}
            </div>
        </div>
        <div class="dropown">
            <button class="link">
                GPU : 
            </button>
            <div class="gpu-card">
                Marque: {{pro[0].system.cg.marque}} <br>
                Model: {{pro[0].system.cg.modele}} <br>
                Score: {{pro[0].system.cg.score}} 
            </div>
        </div>
        <div class="dropown">
            <button class="link">
                RAM : 
            </button>
            <div class="gpu-card">
                {{pro[0].system.ram}} Go
            </div>
        </div>
        <div class="dropown">
            <button class="link">
                HDD : 
            </button>
            <div class="gpu-card">
                Stockage: {{pro[0].system.hdd.capacite}} Go
            </div>
        </div>

    </div>
    <mat-card class="reviews">
        <mat-card-header>
            <div mat-card-avatar class="profile"></div>
            <mat-card-title>
                xxxxx -xxxx
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </mat-card-content>
        <mat-card-actions> 
            <ngx-star-rating></ngx-star-rating>
        </mat-card-actions>
    </mat-card>
    <mat-card class="reviews">
        <mat-card-header>
            <div mat-card-avatar class="profile"></div>
            <mat-card-title>
                xxxxx -xxxx
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </mat-card-content>
        <mat-card-actions> 
            <ngx-star-rating class="2"></ngx-star-rating>
        </mat-card-actions>
    </mat-card>
</div>



